<div class="footer-total">
  <!-------------------CONTACT-------------->
  <div class="footer-top-wrap boxed-container">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 division-text">
          <div class="footer-top-sidebar">
            <div class="widget widget_block">
              <div class="custom-footertop-widget ft-widget-2">
                <div class="media">
                  <div class="media-icon-part">
                    <h4 class="title-txt mb-3">Call Us On :</h4>
                  </div>
                  <div class="media-body ms-4">
                    <div class="footer-content">
                      <p class="phone-txt mb-0">
                        <a href="tel:+(528)456-7592">+(528) 456-7592</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 division-text">
          <div class="footer-top-sidebar">
            <div class="widget widget_block">
              <div class="custom-footertop-widget ft-widget-2">
                <div class="media">
                  <div class="media-icon-part">
                    <h4 class="title-txt mb-3">Open Hours :</h4>
                  </div>
                  <div class="media-body ms-4">
                    <div class="footer-content">
                      <p class="open-txt mb-0">
                        <span class="theme-color">7.00 AM - 11.15 PM</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="footer-top-sidebar">
            <div class="widget widget_block">
              <div class="custom-footertop-widget ft-widget-2">
                <div class="media">
                  <div class="media-icon-part">
                    <h4 class="title-txt mb-3">Mail Us :</h4>
                  </div>
                  <div class="media-body ms-4">
                    <div class="footer-content">
                      <p class="mail-txt mb-0">
                        <a href="mailto:info@example.com">info@example.com</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ---------------footer--------------------- -->
  <div><br /><br /><br /><br /></div>
  <div class="footer-middle-wrap">
    <div class="container footer-container">
      <div class="row">
        <div class="col-lg-4 text-padding-footer">
          <div class="footer-middle-sidebar">
            <section id="block-16" class="widget widget_block">
              <div class="text-widget-content">
                <a href="https://elementor.zozothemes.com/restaurt/"
                  ><img
                    decoding="async"
                    src="https://elementor.zozothemes.com/restaurt/wp-content/uploads/sites/58/2022/11/res-logo-light-footer.png"
                    alt="footer-logo"
                    class="mb-4"
                /></a>
                <div class="text-widget-inner">
                  <span class="text-widget-content-text"
                    >Lorem ipsum dolor sit amet, elit. Aenean ligula eget dolor.
                    Lorem ipsum dolor sit amet, consect to adipisicing elit. Ut
                    enim ad minim veniam. Sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua, quis us elit aboris
                    nisi.</span
                  >
                </div>

                <div class="team-social-wrap">
                  <ul
                    class="nav social-icons team-socialsocial-squared social-white social-h-white social-bg-own social-hbg-black"
                    style="display: flex"
                  >
                    <li>
                      <a
                        class="social-fb"
                        href="https://elementor.zozothemes.com/restaurt/"
                        target="_blank"
                        ><i class="fa fa-facebook"></i
                      ></a>
                    </li>
                    <li>
                      <a
                        class="social-twitter"
                        href="https://elementor.zozothemes.com/restaurt/"
                        target="_blank"
                        ><i class="fa fa-twitter"></i
                      ></a>
                    </li>
                    <li>
                      <a
                        class="social-instagram"
                        href="https://elementor.zozothemes.com/restaurt/"
                        target="_blank"
                        ><i class="fa fa-instagram"></i
                      ></a>
                    </li>
                    <li>
                      <a
                        class="social-linkedin"
                        href="https://elementor.zozothemes.com/restaurt/"
                        target="_blank"
                        ><i class="fa fa-linkedin"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="footer-middle-sidebar">
            <section id="block-3" class="widget widget_block">
              <div class="is-layout-flex wp-container-5 wp-block-columns">
                <div class="is-layout-flow wp-block-column">
                  <div class="widget widget_nav_menu">
                    <h2 class="widgettitle">Our Services</h2>
                    <span class="afterstyle"></span>
                    <div class="customise-icon menu-services-menu-container">
                      <ul id="menu-services-menu" class="menu">
                        <li
                          id="menu-item-26085"
                          class="menu-item menu-item-type-post_type menu-item-object-cea-service menu-item-26085"
                        >
                          <a
                            href="https://elementor.zozothemes.com/restaurt/service/fast-delivery/"
                            >Fast Delivery</a
                          >
                        </li>
                        <li
                          id="menu-item-26082"
                          class="menu-item menu-item-type-post_type menu-item-object-cea-service menu-item-26082"
                        >
                          <a
                            href="https://elementor.zozothemes.com/restaurt/service/vegan-cuisine/"
                            >Vegan Cuisine</a
                          >
                        </li>
                        <li
                          id="menu-item-26086"
                          class="menu-item menu-item-type-post_type menu-item-object-cea-service menu-item-26086"
                        >
                          <a
                            href="https://elementor.zozothemes.com/restaurt/service/fresh-products/"
                            >Fresh Products</a
                          >
                        </li>
                        <li
                          id="menu-item-26083"
                          class="menu-item menu-item-type-post_type menu-item-object-cea-service menu-item-26083"
                        >
                          <a
                            href="https://elementor.zozothemes.com/restaurt/service/skilled-chefs/"
                            >Skilled Chefs</a
                          >
                        </li>
                        <li
                          id="menu-item-26084"
                          class="menu-item menu-item-type-post_type menu-item-object-cea-service menu-item-26084"
                        >
                          <a
                            href="https://elementor.zozothemes.com/restaurt/service/great-coffee/"
                            >Great Coffee</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="is-layout-flow wp-block-column">
                  <div class="widget widget_nav_menu">
                    <h2 class="widgettitle">Quick Links</h2>
                    <span class="afterstyle"></span>
                    <div class="menu-quicklink-container">
                      <ul id="menu-quicklink" class="menu">
                        <li
                          id="menu-item-26118"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26118"
                        >
                          <a
                            href="https://elementor.zozothemes.com/restaurt/about-us/"
                            >About Us</a
                          >
                        </li>
                        <li
                          id="menu-item-26120"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26120"
                        >
                          <a
                            href="https://elementor.zozothemes.com/restaurt/testimonials/"
                            >Testimonials</a
                          >
                        </li>
                        <li
                          id="menu-item-26121"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26121"
                        >
                          <a
                            href="https://elementor.zozothemes.com/restaurt/our-team/"
                            >Our Team</a
                          >
                        </li>
                        <li
                          id="menu-item-26119"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26119"
                        >
                          <a
                            href="https://elementor.zozothemes.com/restaurt/blog/"
                            >Blog</a
                          >
                        </li>
                        <li
                          id="menu-item-26117"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26117"
                        >
                          <a routerLink="/reservation/contactus">Contact Us</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="footer-middle-sidebar">
            <section
              id="restaurt_latest_post_widget-2"
              class="widget restaurt_latest_post_widget"
            >
              <h3 class="widgettitle">Latest Posts</h3>
              <span class="afterstyle"></span>
              <div class="widg-content">
                <ul class="side-newsfeed">
                  <li class="border-line">
                    <div class="side-item">
                      <div class="side-image">
                        <a
                          href="https://elementor.zozothemes.com/restaurt/things-to-know-when-choosing-foods/"
                          rel="bookmark"
                          ><img
                            width="80"
                            height="80"
                            src="https://elementor.zozothemes.com/restaurt/wp-content/uploads/sites/58/2022/04/blog-img-80x80.jpg"
                            class="img-responsive wp-post-image"
                            alt=""
                            decoding="async"
                            loading="lazy"
                            srcset="
                              https://elementor.zozothemes.com/restaurt/wp-content/uploads/sites/58/2022/04/blog-img-80x80.jpg    80w,
                              https://elementor.zozothemes.com/restaurt/wp-content/uploads/sites/58/2022/04/blog-img-700x694.jpg 700w,
                              https://elementor.zozothemes.com/restaurt/wp-content/uploads/sites/58/2022/04/blog-img-300x300.jpg 300w,
                              https://elementor.zozothemes.com/restaurt/wp-content/uploads/sites/58/2022/04/blog-img-100x100.jpg 100w
                            "
                            sizes="(max-width: 80px) 100vw, 80px"
                        /></a>
                      </div>
                      <div class="side-item-text">
                        <a
                          class="themeh-color"
                          href="https://elementor.zozothemes.com/restaurt/things-to-know-when-choosing-foods/"
                          rel="bookmark"
                          >Things to Know When Choosing Foods</a
                        >
                        <div class="comments-wrap">
                          <div class="meta-left">
                            <i class="pi pi-clock clock-icon"></i>
                            <span class="">April 19, 2022</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="side-item">
                      <div class="side-image">
                        <a
                          href="https://elementor.zozothemes.com/restaurt/colour-spicy-to-spring-in-your-table/"
                          rel="bookmark"
                          ><img
                            width="80"
                            height="80"
                            src="https://elementor.zozothemes.com/restaurt/wp-content/uploads/sites/58/2019/04/r-blog-4-1-1-80x80.jpg"
                            class="img-responsive wp-post-image"
                            srcset="
                              https://elementor.zozothemes.com/restaurt/wp-content/uploads/sites/58/2019/04/r-blog-4-1-1-80x80.jpg    80w,
                              https://elementor.zozothemes.com/restaurt/wp-content/uploads/sites/58/2019/04/r-blog-4-1-1-300x300.jpg 300w,
                              https://elementor.zozothemes.com/restaurt/wp-content/uploads/sites/58/2019/04/r-blog-4-1-1-100x100.jpg 100w
                            "
                            sizes="(max-width: 80px) 100vw, 80px"
                        /></a>
                      </div>
                      <div class="side-item-text">
                        <a
                          class="themeh-color"
                          href="https://elementor.zozothemes.com/restaurt/colour-spicy-to-spring-in-your-table/"
                          rel="bookmark"
                          >Colour Spicy to Spring in Your Table</a
                        >
                        <div class="comments-wrap">
                          <div class="meta-left">
                            <i class="pi pi-clock clock-icon"></i>
                            <span class="">April 19, 2022</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-bottom">
  <div class="footer-bottom-inner container">
    <div class="row">
      <div class="col-md-12">
        <ul
          class="footer-bottom-items nav pull-center show-opacity"
          style="margin-left: 389px"
        >
          <li class="nav-item">
            <div class="nav-item-inner">
              <div class="copyright-text-wrap">
                Copyrights © 2022
                <a href="#" class="theme-color">Restaurt</a>. Designed by
                <a href="#" class="theme-color" target="_blank">Vamsi</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
